.upper
{
    margin:50px;
    display: flex;
    flex-direction: row;
    width:300px;
    border:1px;
    padding:25px; /* this */
}

.upper > div
{
  flex:1 1 auto;
  border:1px;
  text-align:center;

  margin:10px;  /* and that, will result in a 10px gap */
}

table, th, td {
    border: 1px;
  }
